.input_1{
    height: 40px;
    width: 140px;
    border-radius: 6px;
    border:1px solid gray;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0px 10px 0 10px;

}

.Input_1{
    height: 40px;
    width: 210px;
    border-radius: 6px;
    border:1px solid gray;
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    color: black;
}

.Input_2{
    height: 40px;
    width: 210px;
    border-radius: 6px;
    border:1px solid gray;
    background-color: rgb(255, 255, 255);
    padding-left: 9px;
    padding-top: 4px;
    color: black;
}

.title1{
    width: 425px;
    justify-content: space-between;
}

.title2{
    width: 370px;
    justify-content: space-between;
}

.titles{
    width: 928px;
    justify-content: space-between;
    margin-left:25px
}