.div1{
    width: 1220px;
    height: 154px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    border-radius: 10px;
}

.REUSABLE2{
    height: 500px;
    width: 1450px;
    background-color: rgb(156, 156, 160);
}